#resume{
    background:#f8fafc;
    padding:10px 0px;
}

.resume-container{
    max-width:1800px;
    margin:auto;
    background:white;
    border-radius:12px;
    padding:50px;
    box-shadow:0 10px 40px rgba(0,0,0,.08);
}

.resume-header{
    text-align:center;
    border-bottom:2px solid #e5e7eb;
    padding-bottom:10px;
    margin-bottom:10px;
}

.resume-header h1{
    font-size:2rem;
    margin-bottom:5px;
}

.resume-header h2{
    color:#2563eb;
    font-size:1.4rem;
    margin-bottom:10px;
}

.contact-info{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
    color:#64748b;
}

/* .resume-section{
    margin-bottom:50px;
} */
.resume-section p{
    margin:0 10px 20px;
}

.resume-section h3{
    font-size:1.8rem;
    border-left:5px solid #2563eb;
    padding-left:15px;
    margin:20px 20px 20px;
}

.resume-content{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:30px;
    margin-top:10px;
    border:3px solid rgb(238, 238, 238);
}

.left-column{
    background:#eeeeee;
}

.right-column{
    background:#ffffff;
}
.skills-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:5px;
    margin: 10px;
}

.skills-grid ul{
    padding-left:20px;
}

.project,
.experience,
.education{
    margin-bottom:20px;
}

.project h4,
.experience h4,
.education h4{
    margin: 10px 10px 10px;
}

.experience span,
.education span{
    color:#0a91df;
    display:block;
    margin:0 10px 0 10px;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

.experience ul{
    padding-left:20px;
}
